:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --desaturated-blue: hsl(229, 23%, 23%);
  --grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
  --Font-size: 18px;
  --Font-w-light: 400;
  --Font-w-hard: 700;
}
@font-face {
  font-family: Kumbh;
  src: url("font/KumbhSans-Regular.ttf");
}
@font-face {
  font-family: Kumbh-bold;
  src: url("font/KumbhSans-Bold.ttf");
}
@font-face {
  font-family: Kumbh-light;
  src: url("font/KumbhSans-Light.ttf");
}
* {
  font-family: Kumbh;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--Dark-cyan);
  /* min-width: 100vh; */
}
.bg-top {
  position: fixed;
  top: -80%;
  left: -30%;
  z-index: -5;
  /* border: 1px solid red; */
  transform-origin: 0% 0%;
}
.bg-bottom {
  position: fixed;
  bottom: -80%;
  right: -30%;
  z-index: -6;
  /* border: 1px solid blue; */
  transform-origin: 100% 100%;
}

@media (max-width: 1199.98px) {
  .bg-top {
    /* transform-origin: -22% 65%; */
    transform: scale(0.8);
  }
  .bg-bottom {
    /* transform-origin: 103% 34%; */
    transform: scale(0.8);
  }
}
@media (max-width: 991.98px) {
  .bg-top {
    /* transform-origin: -22% 65%; */
    transform: scale(0.7);
  }
  .bg-bottom {
    /* transform-origin: 103% 34%; */
    transform: scale(0.7);
  }
}
@media (max-width: 767.98px) {
  .bg-top {
    /* transform-origin: -22% 65%; */
    transform: scale(0.7);
  }
  .bg-bottom {
    /* transform-origin: 103% 34%; */
    transform: scale(0.7);
  }
}
@media (max-width: 575.98px) {
  .bg-top {
    transform-origin: -78% 45%;
    transform: scale(0.7);
  }
  .bg-bottom {
    transform-origin: 168% 55%;
    transform: scale(0.7);
  }
}

/* ------------------- */
.container {
  margin: 130px auto 0;
  width: 350px;
  background-color: white;
  border-radius: 20px;
}
.top {
  width: 100%;
  height: 150px;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: url("images/bg-pattern-card.svg");
}
.avatar-img {
  border-radius: 100%;
  margin: auto;
}
.avatar-container {
  border-radius: 100%;
  position: absolute;
  bottom: calc(-1 * calc(106px / 2));
  left: calc(calc(350px / 2) - calc(106px / 2));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 5px;
}

.main h2 {
  font-family: Kumbh-bold;
  font-size: var(--Font-size);
  font-weight: var(--Font-w-hard);
  color: var(--desaturated-blue);
  margin-top: 73px;
  text-align: center;
}
.age {
  margin-left: 5px;
  color: var(--Dark-gray);
}
.city-name {
  font-family: Kumbh-light;
  font-size: 14px;
  font-weight: var(--Font-w-hard);
  color: var(--Dark-gray);
  margin-top: 10px;
  text-align: center;
}
.line {
  width: 100%;
  height: 1px;
  background-color: var(--Dark-gray);
  opacity: 0.5;
  margin: 30px 0;
}
.info {
  display: flex;
  padding-bottom: 30px;
  justify-content: space-evenly;
}
.sub-info {
  text-align: center;
}
.sub-info h3 {
  font-family: Kumbh-bold;
  font-size: var(--Font-size);
  font-weight: var(--Font-w-hard);
  color: var(--desaturated-blue);
}
.sub-info p {
  font-family: Kumbh-light;
  font-size: 12px;
  font-weight: var(--Font-w-light);
  color: var(--Dark-gray);
  margin-top: 5px;
}
